@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  background-color: #252424;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  color: #ebebeb;
  line-height: 1.5;
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ebebeb !important;
}

h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 4.5rem;
  font-weight: 600;
}
@media (orientation: landscape) {
  h1 {
    font-size: 4rem;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 6rem;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  h1 {
    font-size: 4rem;
  }
}
@media (min-width: 992px) and (orientation: landscape) {
  h1 {
    font-size: 6rem;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 8rem;
  }
}

h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 4rem;
  font-weight: 600;
  margin: 0;
}
@media (min-width: 768px) {
  h2 {
    font-size: 5rem;
  }
}

h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 3.5rem;
  font-weight: 600;
  margin: 0;
}

h4 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
}

h5 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}

.line {
  display: block;
  width: 10rem;
  height: 3px;
  background-color: #e6572f;
}

hr {
  height: 2px;
  background-color: #e6572f;
  border: none;
  width: 100%;
  opacity: 0.5;
  margin: 3rem 0;
}

.navbar {
  padding: 1.5rem 0;
  transition: 0.3s ease;
  z-index: 15;
}
.navbar .logo {
  font-size: 2rem;
  transition: 0.3s ease;
}
.navbar .logo:hover {
  color: #e6572f !important;
}
.navbar .btn-offcanvas {
  gap: 0.5rem;
}
.navbar .btn-offcanvas span {
  width: 2.5rem;
  height: 0.3rem;
  background-color: #ebebeb;
  transition: 0.3s ease;
}
.navbar .btn-offcanvas:hover span {
  background-color: #e6572f;
}
.navbar .btn-offcanvas:active, .navbar .btn-offcanvas:focus {
  border: none;
}
.navbar .nav-link {
  letter-spacing: 1px;
  text-transform: uppercase;
}
.navbar .nav-link:hover {
  color: #e6572f !important;
}
.navbar .nav-link.active {
  color: #e6572f !important;
}
.navbar.scroll {
  background-color: rgba(32, 31, 31, 0.7);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  box-shadow: 0 0 10px #e6572f;
  padding: 0.75rem 0;
}

.offcanvas-lg {
  background-color: rgba(37, 36, 36, 0.7);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  overflow: hidden;
  box-shadow: 0 0 10px #e6572f;
  width: 30rem !important;
  border: none !important;
}
.offcanvas-lg .offcanvas-header {
  color: #e6572f;
}
.offcanvas-lg .offcanvas-header button {
  opacity: 1;
  filter: invert(99%) sepia(34%) saturate(0%) hue-rotate(183deg) brightness(114%) contrast(84%);
}
.offcanvas-lg .offcanvas-header button:focus {
  box-shadow: none;
}
.offcanvas-lg .offcanvas-body .nav-link {
  font-size: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.offcanvas-lg .offcanvas-body .nav-link:hover {
  color: #e6572f !important;
}
.offcanvas-lg .offcanvas-body .nav-link.active {
  color: #e6572f !important;
}
.offcanvas-lg .offcanvas-body .social_icons {
  font-size: 3rem;
  margin-top: 7rem;
}
.offcanvas-lg .offcanvas-body .social_icons i {
  color: #e6572f;
}

.hero {
  overflow: hidden;
  height: 40vh;
  background-image: linear-gradient(rgba(20, 20, 20, 0.9), rgba(20, 20, 20, 0.9)), url("/img/hero_bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero .container {
  height: 100%;
}
.hero .container h1 {
  letter-spacing: 0.5rem;
  text-align: center;
}
.hero .container h1.hide {
  transition: transform ease 0.75s 0.1s, opacity ease 0.75s 0.1s;
}
@media (min-width: 1200px) {
  .hero .container h1.hide {
    transform: translateY(100px);
    opacity: 0;
  }
}
@media (min-width: 1200px) {
  .hero .container h1.hide.slide_in {
    transform: translateY(0);
    opacity: 1;
  }
}
.hero .container span {
  color: #e6572f;
}

footer {
  position: relative;
  z-index: 2;
  background-color: rgba(230, 87, 47, 0.1);
  box-shadow: 0 0 10px #e6572f;
}
footer .container {
  padding: 3rem 0;
}
footer .container h2 {
  color: #e6572f;
}
footer .container h5 {
  color: #e6572f;
}
@media (min-width: 768px) {
  footer .container .kontakt_col {
    margin-top: -10rem;
  }
}
@media (min-width: 992px) {
  footer .container .kontakt_col {
    margin-top: 0;
  }
}
footer .container .kontakt_col a {
  position: relative;
}
footer .container .kontakt_col a:after {
  position: absolute;
  content: "";
  background-color: #e6572f;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  transition: 0.3s ease;
}
footer .container .kontakt_col a:hover::after {
  width: 100%;
}
footer .container .social a {
  font-size: 2rem;
}
footer .container .social a i {
  transition: 0.3s ease;
}
footer .container .social a:hover i {
  color: #e6572f;
}
footer .container .mapa a,
footer .container .icons a {
  position: relative;
}
footer .container .mapa a:after,
footer .container .icons a:after {
  position: absolute;
  content: "";
  background-color: #e6572f;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  transition: 0.3s ease;
}
footer .container .mapa a:hover::after,
footer .container .icons a:hover::after {
  width: 100%;
}
footer .copy {
  background-color: #201f1f;
  font-size: 1.5rem;
}
footer .copy p a {
  color: rgba(230, 87, 47, 0.8) !important;
  text-decoration: underline;
}
footer .copy p a:hover {
  color: #e6572f !important;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: #252424;
}

::-webkit-scrollbar-thumb {
  background-color: #e6572f;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #eb7c5d;
}

@supports (scrollbar-color: #e6572f #252424) {
  * {
    scrollbar-color: #e6572f #252424;
    scrollbar-width: auto;
  }
}
::-moz-selection {
  background: rgba(230, 87, 47, 0.3);
}
::selection {
  background: rgba(230, 87, 47, 0.3);
}

::-moz-selection {
  background: rgba(230, 87, 47, 0.3);
}

.preloader {
  background-color: #252424;
  position: fixed;
  z-index: 100;
  height: 100vh;
  width: 100%;
  transition: 0.3s ease;
  display: block;
}
.preloader .banter-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 72px;
  height: 72px;
  margin-left: -36px;
  margin-top: -36px;
}
.preloader .banter-loader__box {
  float: left;
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 6px;
}
.preloader .banter-loader__box:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #e6572f;
}
.preloader .banter-loader__box:nth-child(3n) {
  margin-right: 0;
  margin-bottom: 6px;
}
.preloader .banter-loader__box:nth-child(1):before,
.preloader .banter-loader__box:nth-child(4):before {
  margin-left: 26px;
}
.preloader .banter-loader__box:nth-child(3):before {
  margin-top: 52px;
}
.preloader .banter-loader__box:last-child {
  margin-bottom: 0;
}
@keyframes moveBox-1 {
  9.0909090909% {
    transform: translate(-26px, 0);
  }
  18.1818181818% {
    transform: translate(0px, 0);
  }
  27.2727272727% {
    transform: translate(0px, 0);
  }
  36.3636363636% {
    transform: translate(26px, 0);
  }
  45.4545454545% {
    transform: translate(26px, 26px);
  }
  54.5454545455% {
    transform: translate(26px, 26px);
  }
  63.6363636364% {
    transform: translate(26px, 26px);
  }
  72.7272727273% {
    transform: translate(26px, 0px);
  }
  81.8181818182% {
    transform: translate(0px, 0px);
  }
  90.9090909091% {
    transform: translate(-26px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.preloader .banter-loader__box:nth-child(1) {
  animation: moveBox-1 4s infinite;
}
@keyframes moveBox-2 {
  9.0909090909% {
    transform: translate(0, 0);
  }
  18.1818181818% {
    transform: translate(26px, 0);
  }
  27.2727272727% {
    transform: translate(0px, 0);
  }
  36.3636363636% {
    transform: translate(26px, 0);
  }
  45.4545454545% {
    transform: translate(26px, 26px);
  }
  54.5454545455% {
    transform: translate(26px, 26px);
  }
  63.6363636364% {
    transform: translate(26px, 26px);
  }
  72.7272727273% {
    transform: translate(26px, 26px);
  }
  81.8181818182% {
    transform: translate(0px, 26px);
  }
  90.9090909091% {
    transform: translate(0px, 26px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.preloader .banter-loader__box:nth-child(2) {
  animation: moveBox-2 4s infinite;
}
@keyframes moveBox-3 {
  9.0909090909% {
    transform: translate(-26px, 0);
  }
  18.1818181818% {
    transform: translate(-26px, 0);
  }
  27.2727272727% {
    transform: translate(0px, 0);
  }
  36.3636363636% {
    transform: translate(-26px, 0);
  }
  45.4545454545% {
    transform: translate(-26px, 0);
  }
  54.5454545455% {
    transform: translate(-26px, 0);
  }
  63.6363636364% {
    transform: translate(-26px, 0);
  }
  72.7272727273% {
    transform: translate(-26px, 0);
  }
  81.8181818182% {
    transform: translate(-26px, -26px);
  }
  90.9090909091% {
    transform: translate(0px, -26px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.preloader .banter-loader__box:nth-child(3) {
  animation: moveBox-3 4s infinite;
}
@keyframes moveBox-4 {
  9.0909090909% {
    transform: translate(-26px, 0);
  }
  18.1818181818% {
    transform: translate(-26px, 0);
  }
  27.2727272727% {
    transform: translate(-26px, -26px);
  }
  36.3636363636% {
    transform: translate(0px, -26px);
  }
  45.4545454545% {
    transform: translate(0px, 0px);
  }
  54.5454545455% {
    transform: translate(0px, -26px);
  }
  63.6363636364% {
    transform: translate(0px, -26px);
  }
  72.7272727273% {
    transform: translate(0px, -26px);
  }
  81.8181818182% {
    transform: translate(-26px, -26px);
  }
  90.9090909091% {
    transform: translate(-26px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.preloader .banter-loader__box:nth-child(4) {
  animation: moveBox-4 4s infinite;
}
@keyframes moveBox-5 {
  9.0909090909% {
    transform: translate(0, 0);
  }
  18.1818181818% {
    transform: translate(0, 0);
  }
  27.2727272727% {
    transform: translate(0, 0);
  }
  36.3636363636% {
    transform: translate(26px, 0);
  }
  45.4545454545% {
    transform: translate(26px, 0);
  }
  54.5454545455% {
    transform: translate(26px, 0);
  }
  63.6363636364% {
    transform: translate(26px, 0);
  }
  72.7272727273% {
    transform: translate(26px, 0);
  }
  81.8181818182% {
    transform: translate(26px, -26px);
  }
  90.9090909091% {
    transform: translate(0px, -26px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.preloader .banter-loader__box:nth-child(5) {
  animation: moveBox-5 4s infinite;
}
@keyframes moveBox-6 {
  9.0909090909% {
    transform: translate(0, 0);
  }
  18.1818181818% {
    transform: translate(-26px, 0);
  }
  27.2727272727% {
    transform: translate(-26px, 0);
  }
  36.3636363636% {
    transform: translate(0px, 0);
  }
  45.4545454545% {
    transform: translate(0px, 0);
  }
  54.5454545455% {
    transform: translate(0px, 0);
  }
  63.6363636364% {
    transform: translate(0px, 0);
  }
  72.7272727273% {
    transform: translate(0px, 26px);
  }
  81.8181818182% {
    transform: translate(-26px, 26px);
  }
  90.9090909091% {
    transform: translate(-26px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.preloader .banter-loader__box:nth-child(6) {
  animation: moveBox-6 4s infinite;
}
@keyframes moveBox-7 {
  9.0909090909% {
    transform: translate(26px, 0);
  }
  18.1818181818% {
    transform: translate(26px, 0);
  }
  27.2727272727% {
    transform: translate(26px, 0);
  }
  36.3636363636% {
    transform: translate(0px, 0);
  }
  45.4545454545% {
    transform: translate(0px, -26px);
  }
  54.5454545455% {
    transform: translate(26px, -26px);
  }
  63.6363636364% {
    transform: translate(0px, -26px);
  }
  72.7272727273% {
    transform: translate(0px, -26px);
  }
  81.8181818182% {
    transform: translate(0px, 0px);
  }
  90.9090909091% {
    transform: translate(26px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.preloader .banter-loader__box:nth-child(7) {
  animation: moveBox-7 4s infinite;
}
@keyframes moveBox-8 {
  9.0909090909% {
    transform: translate(0, 0);
  }
  18.1818181818% {
    transform: translate(-26px, 0);
  }
  27.2727272727% {
    transform: translate(-26px, -26px);
  }
  36.3636363636% {
    transform: translate(0px, -26px);
  }
  45.4545454545% {
    transform: translate(0px, -26px);
  }
  54.5454545455% {
    transform: translate(0px, -26px);
  }
  63.6363636364% {
    transform: translate(0px, -26px);
  }
  72.7272727273% {
    transform: translate(0px, -26px);
  }
  81.8181818182% {
    transform: translate(26px, -26px);
  }
  90.9090909091% {
    transform: translate(26px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.preloader .banter-loader__box:nth-child(8) {
  animation: moveBox-8 4s infinite;
}
@keyframes moveBox-9 {
  9.0909090909% {
    transform: translate(-26px, 0);
  }
  18.1818181818% {
    transform: translate(-26px, 0);
  }
  27.2727272727% {
    transform: translate(0px, 0);
  }
  36.3636363636% {
    transform: translate(-26px, 0);
  }
  45.4545454545% {
    transform: translate(0px, 0);
  }
  54.5454545455% {
    transform: translate(0px, 0);
  }
  63.6363636364% {
    transform: translate(-26px, 0);
  }
  72.7272727273% {
    transform: translate(-26px, 0);
  }
  81.8181818182% {
    transform: translate(-52px, 0);
  }
  90.9090909091% {
    transform: translate(-26px, 0);
  }
  100% {
    transform: translate(0px, 0);
  }
}
.preloader .banter-loader__box:nth-child(9) {
  animation: moveBox-9 4s infinite;
}

.testimonials .first_row {
  overflow: hidden;
  background: linear-gradient(40deg, rgba(230, 87, 47, 0.07) 30%, transparent 30%), linear-gradient(15deg, rgba(230, 87, 47, 0.07) 40%, transparent 40%), linear-gradient(65deg, rgba(230, 87, 47, 0.07) 40%, #252424 40%);
}
.testimonials .first_row .container .text {
  padding-top: 7rem;
}
@media (min-width: 992px) {
  .testimonials .first_row .container .text {
    padding-top: 0;
  }
}
.testimonials .first_row .container .text .heading h2 span {
  color: #e6572f;
}
.testimonials .first_row .container .text.hide {
  transition: transform ease 0.75s 0.5s, opacity ease 0.75s 0.5s;
}
@media (min-width: 1200px) {
  .testimonials .first_row .container .text.hide {
    transform: translateX(200px);
    opacity: 0;
  }
}
@media (min-width: 1200px) {
  .testimonials .first_row .container .text.hide.slide_in {
    transform: translateX(0);
    opacity: 1;
  }
}
.testimonials .first_row .container .img {
  overflow: hidden;
  padding-top: 5rem;
}
.testimonials .first_row .container .img img {
  transition: 0.3s ease;
}
.testimonials .first_row .container .img img:hover {
  filter: drop-shadow(0 0 5px #e6572f);
  transform: scale(1.05);
}
.testimonials .first_row .container .img.hide {
  transition: transform ease 0.75s 0.6s, opacity ease 0.75s 0.6s;
}
@media (min-width: 1200px) {
  .testimonials .first_row .container .img.hide {
    transform: translateY(200px);
    opacity: 0;
  }
}
@media (min-width: 1200px) {
  .testimonials .first_row .container .img.hide.slide_in {
    transform: translateY(0);
    opacity: 1;
  }
}
.testimonials .testimonial {
  padding: 7rem 0;
  transition: 0.3s ease;
}
.testimonials .testimonial:nth-child(even) {
  background-color: #201f1f;
}
.testimonials .testimonial .container .text img {
  width: 5rem;
  margin-bottom: 2rem;
  filter: invert(41%) sepia(64%) saturate(2510%) hue-rotate(345deg) brightness(96%) contrast(88%);
}
.testimonials .testimonial .container .text p {
  max-width: 75ch;
}/*# sourceMappingURL=testimonials.css.map */