$clr_bg-light: #252424;
$clr_bg-dark: #201f1f;
$clr_accent: #e6572f;

$clr_filter: invert(41%) sepia(64%) saturate(2510%) hue-rotate(345deg)
  brightness(96%) contrast(88%);

$clr_text: #ebebeb;
$clr_text_filter: invert(99%) sepia(34%) saturate(0%) hue-rotate(183deg) brightness(114%) contrast(84%);;
$transition: 0.3s ease;
$font-size: 1.6rem;
$line-hight: 1.5;
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Barlow Condensed', sans-serif;

$padding-top: 5rem;
$padding-container: 7rem 0;
